@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

.palanquin-thin {
    font-family: "Palanquin", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .palanquin-extralight {
    font-family: "Palanquin", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .palanquin-light {
    font-family: "Palanquin", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .palanquin-regular {
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .palanquin-medium {
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .palanquin-semibold {
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .palanquin-bold {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
 /* Montserrat Normal Weights */
.montserrat-thin {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.montserrat-extralight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.montserrat-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.montserrat-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-extrabold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-black {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* Montserrat Italic Weights */
.montserrat-thin-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.montserrat-extralight-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
}

.montserrat-light-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.montserrat-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.montserrat-medium-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.montserrat-semibold-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.montserrat-bold-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.montserrat-extrabold-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.montserrat-black-italic {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.icon {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    color: #f7f7f7; /* Adjust text color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px; /* Adjust font size as needed */
    position: absolute;
    opacity: 0.5;
    user-select: none;
  }

  @media (max-width: 768px) {
    .icon {
        width: 40px; /* Adjust size as needed */
        height: 40px; /* Adjust size as needed */
        /* background-color: #1a1a1a; Adjust background color as needed */
        opacity: 0.3;
        filter: grayscale(0);
        user-select: none;
      }
  }

@layer components {
    .heroButton{
        @apply px-2 py-1 md:px-6  md:py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-300 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }
}

@layer components{
    .icon-hover{
        @apply hover:text-[#ffc107]/80
    }
}


.ant-input::placeholder {
    color: #999; /* Change the color to your desired color */
    
  }
  

.ex-box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 2px;

  }
  .ex-box h1{
    font-size: 20px;
    color: #ffc107;
    font-weight: 900;
    font-family: "Palanquin";
  }

  .ex-box p{
    font-size: 18px;
    color: #848484;
    font-weight: 500;
    font-family: "Palanquin"; 
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 768px) {
    .ex-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 100%;
      text-align: center;
    }
  
    .ex-box h1 {
      font-size: 15px;
      color: #ffc107;
      font-weight: 700;
      font-family: "Palanquin";
    }
  
    .ex-box p {
      font-size: 10px;
      color: #848484;
      font-weight: 700;
      font-family: "Palanquin"; 
    }
  }

.projects-box {
    position: relative;
    width: 100%;
    overflow: hidden; 
    height: 350px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  
  .projects-box img {
    width: 100%;
    transition: all 1s ease-in-out; 
    height: 100%;
    object-fit: cover;
    object-position: top;

  }
  
  .projects-box:hover img {
    object-position: bottom;
    transform: scale(1.2);
  }
 
  .projects-box-wraper:hover h1{
    color: rgb(255, 193, 7);
    transition: .3s all ease-in;
  }

  .projects-box-wraper:hover p{
    color: rgb(255, 193, 7,0.7);
    transition: .4s all ease-in;
  }

  .projects-box-wraper:hover FaExternalLinkAlt{
    color: rgb(255, 193, 7)/80;
  }
  .projects-box-wraper:hover{
    background: linear-gradient(120deg, rgba(15, 15, 15, 0.98) 0%, rgba(43, 43, 53, .98));
  }

/* 

  * Recommendation code 

*/

.service-wraper{
  padding: 20px;
  background-color: #2b2b36;
  
}
.service-wraper h1{
  font-size: larger;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 15px;

}
.service-wraper p{
  font-size:14px;
  color: #848484;
  font-weight: 400;
  text-shadow: #000000;
  line-height: 22px;
}


.re-post{
  color: slategray;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: small;
}


.arrow.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.re-avtar{
  border: 2px solid slateblue;
  object-fit: cover;
}


.re-main {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for sliding effect */
  transform: translateX(0); /* Initial transformation */
}

.re-main.next {
  transform: translateX(-100%); /* Move content to the left */
}

.re-main.prev {
  transform: translateX(100%); /* Move content to the right */
}

button {
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  color: rgb(255, 193, 7);; /* Darker shade on hover */
}

 
.service-wraper:hover h1{
  color: rgb(255, 193, 7);
  transition: .2s all ease-in;
}

.service-wraper:hover h2{
  color: #ddd;
  transition: .3s all ease-in;
}

.service-wraper:hover p{
  color: rgb(255, 193, 7,0.7);
  transition: .4s all ease-in;
}

.re-avtar:hover{
  border: 2px solid rgb(255, 193, 7,0.7);
  object-fit: cover;
}

/* 
  Resume 
*/
.resume img{
  background-color:transparent;
  filter: grayscale(1);
  color: #fff !important;
  fill: #ffc107;
  opacity: .5;
}


.resume:hover img{
  filter: grayscale(0);
  
}


/* broswer design copy */
/* :root {
  --base-100: #2b2b38; */
/* } */

.bento {
	.bento-grid {
    border: #ffc107;
		display:grid;
		grid-gap:30px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height:960px;
		@media(max-width:1024px){
			grid-template-rows: repeat(8, 1fr);
		}
		@media(max-width:768px){
			display:flex;
			flex-direction:column;
			gap:30px;
			height:auto;
		}
		.bento-item {
			padding:30px;
			background-color: #2b2b38;
			border-radius:15px;
			position:relative;
			overflow:hidden;
			/* img {
				/* position:absolute;
				top:0;
				left:0;
				/* height:100%;
				object-fit:cover; */
				/* transition: ease 3s all; */ 

			/* } */
			/* &:hover {
				img {
					transform: scale(1.2);
				}
			} */
      img {
        filter: grayscale(.5);
        transition: ease 1s all;
        background-color: transparent;
        opacity: .5;
      }
      &:hover {
				img {
					transform: scale(1.1);
          filter: grayscale(0);
          opacity: 1;
				}
      }
			@media(max-width:768px){
				height:auto;
			} 
			&:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			&:nth-child(2) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(3) {
				grid-column: span 1;
				grid-row: span 1;
        padding: 30px 20px !important;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(4) {
				grid-column: span 1;
				grid-row: span 1;
        padding: 30px 20px !important;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 4;
				}
			}
			&:nth-child(5) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(6) {
				grid-column: span 5;
				grid-row: span 3;
				@media(max-width:1024px){
					grid-column: span 5;
					grid-row: span 2;
				}
			}
		}
	}
}



/* tooltip css */

.tooltip-container {
  position: relative;
}

.tooltip-content {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-container:hover .tooltip-content {
  visibility: visible;
}

